.content{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem 1fr;
    grid-template-areas:
    'header header'
    'left right';
}

header{
    grid-area:header;
}

#bg{
    grid-area: left;
    background: url('/assets/home-bg-img.svg') no-repeat top/contain;
    background-position-x: -10rem;
}

main{
    grid-area: right;
    display: flex;
    align-items: center;
    margin-top: -1.1rem;
}

main .container{
    width: min(36.3rem, 100%);
}

main h2{
    font-family: 'Poppins', sans-serif;
    color: var(--blcak);
    font-size: clamp(20px, 5vw, 2.8rem);
    margin-bottom: 2.4rem;
}

input{
    border: .2rem solid var(--gray-blue);
    padding: 0 1.6rem;
}
input, button, .button{
    width: 100%;
    margin-bottom: 1.8rem;
}

/* separator */
.separator{
    display: flex;
    align-items: center;

    margin: 4rem 0;
}
.separator div:nth-child(2){
    margin: 0 1.35rem;
    color: var(--gray-blue);
    font-weight: 400;
    font-family: 'poppins';
    line-height: 0;

}
.separator div:nth-child(1),
.separator div:nth-child(3){
    background: var(--gray-blue);
    width: 100%;
    height: 1px;
}

/* cretaing balls */
.ball {
    background: var(--blue);
    position: fixed;
    clip-path: circle();
    
    width: 21.2rem;
    height: 21.2rem;

    opacity: 0.1;
}

.ball.top{
    width: 63.3rem;
    height: 63.3rem;
    top: -40rem;
    right: -43rem;
}

.ball.bottom{
    bottom: -17rem;
    right: 5.6rem;

}


